In [ ]:
# Task 1
# There are 3 coloumns in each file (name, sex, number/rank)
# Coloumns are separated using commas and logically based on each field's name, sex and uniquness of name (rank)
# There is no header but there is a readME
import pandas as pd

In [20]:
# Task 2
df = pd.read_csv("../../data/yob2021.txt", index_col=0, sep=",", names=["Name", "Sex", "Rank"])
# Task 3
df.head(10)

          Sex   Rank
Name
Olivia      F  17728
Emma        F  15433
Charlotte   F  13285
Amelia      F  12952
Ava         F  12759
Sophia      F  12496
Isabella    F  11201
Mia         F  11096
Evelyn      F   9434
Harper      F   8388

In [17]:
# Task 4
df.shape

(31536, 2)

In [35]:
# Task 5
total = df["Rank"].sum()
print(total)

3361375

In [25]:
# Task 6
men = df[df["Sex"] == "M"]["Rank"].sum()
women = df[df["Sex"] == "F"]["Rank"].sum()
f"Men: {men}, Women: {women}"

'Men: 1734277, Women: 1627098'

In [33]:
# Task 7
df.loc["Aaryan"]

Sex       M
Rank    112
Name: Aaryan, dtype: object

In [42]:
# Task 8
import math
f"Men: {math.floor((men/total) * 100 * 100)/100}%, Women: {math.floor((women/total) * 100 * 100)/100}%"

'Men: 51.59%, Women: 48.4%'

In [53]:
# Task 9
boysNames = df[df["Sex"] == "M"].sort_values(by=["Rank"], ascending=False).head(5)
girlNames = df[df["Sex"] == "F"].sort_values(by=["Rank"], ascending=False).head(5)
topNames = pd.concat([boysNames, girlNames])
print(topNames)

          Sex   Rank
Name
Liam        M  20272
Noah        M  18739
Oliver      M  14616
Elijah      M  12708
James       M  12367
Olivia      F  17728
Emma        F  15433
Charlotte   F  13285
Amelia      F  12952
Ava         F  12759

In [57]:
# Task 10
topNames.to_excel("../../data/top_names.xlsx")